* {
  margin: 0;
  padding: 0;
  outline: none;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to right, #0d59ec, #7e36d1, #a147dd);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}
.card {
  width: 650px;
  height: 450px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 0px 15px;
  margin: 0 10px;
}
h2 {
  margin-bottom: 20px;
  margin-top: 35px;
  text-align: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.field {
  flex: 1;
  margin-right: 10px;
}

.field:last-child {
  margin-right: 0;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  display: block;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 90%;
}

.radio-container {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.radio-container input {
  margin-right: 5px;
}
fieldset {
  border: none;
}
fieldset legend {
  margin-bottom: 8px;
}
.form-actions {
  display: flex;
  gap: 10px;
}

.form-actions button {
  padding: 10px 20px;
  height: 33px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}
.form-actions button:nth-child(1) {
  background-color: rgb(247, 65, 65);
}

.form-actions button:nth-child(2) {
  background: linear-gradient(to right, #0d59ec, #7e36d1, #a147dd);
}
